.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.block-info {
  margin-top: 20px;
  padding: 20px;
  background: #1c2025;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.address-input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #61dafb;
  font-size: 1em;
  color: #61dafb;
  background-color: #282c34;
}

.balance-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: #282c34;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.balance-button:disabled {
  background-color: #9b9b9b;
  cursor: not-allowed;
}

.balance-button:hover:not(:disabled) {
  background-color: #21a1f1;
}

.error {
  color: red;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
